@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.nanumgothiccoding * {
font-family: 'Nanum Gothic Coding', monospace;
}

html , body {
width: 100%;
height: 100%;
min-width: 1000px;
font-family: 'Nanum Gothic Coding', monospace;
}

/* div {
border : solid black thin;
}  */

/* 전체wrap -------------------- */
.wrap{
height: 100%;
display: flex;
flex-direction: column;
}

/* header------------------------------ */
header{
height: 60px;
background: rgb(143, 122, 229);
            background: radial-gradient(circle, rgba(143, 122, 229, 1) 0%, rgba(241, 112, 170, 1) 100%);
display: flex;
justify-content: space-between;
}

.head1{
    width:200px;
    height:60px;
}

.head1> a >img{
    width:160px;
}

.righthead{
    width:150px;
    display:flex;
    justify-content: space-evenly
}

.alram{
display:flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.badge{
    position: absolute;
    color: #28a745;
    font-size:25px;
    margin: 0px 0px 16px 12px;
}

.alram>i{
    color:white;
    font-size: 30px;
}

.profile{
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile>i{
    color:white;
    font-size: 30px;
}

/* 헤더를 제외한 컨텐츠---------------------------------- */
.con{
height: 100%;
display: flex;
justify-content: space-between;
background-color: transparent;
overflow: hidden;
}

nav {
width: 220px;
height: 100%;
flex-shrink: 0;
color:#ffffff;
background: rgb(19, 23, 34);
            background: linear-gradient(0deg, rgba(19, 23, 34, 1) 0%, rgba(26, 17, 47, 1) 22%, rgba(26, 30, 41, 1) 83%, rgba(19, 23, 34, 1) 100%);
display:flex;
flex-direction: column;
align-content:space-between ;
}

#cate{
    width: 220px;
    height: 100%;
    flex-shrink: 0;
    color:#ffffff;
    background-color:  #404040;
    display:flex;
    flex-direction: column;
    align-content:space-between ;
    position:fixed;
}

.mypage{
    height:7%;
    color:#ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size:20px;
    cursor: pointer;
}

.setproject{
    height:7%;
    color:#ffffff;
    display:flex;
    justify-content: baseline;
    align-items: center;
    font-weight: 900;
    font-size:20px;
    cursor: pointer;
}

.setproject>i{
    margin:0px 30px 0px 15px;
}

.setmypage{
    height:7%;
    color:#ffffff;
    display:flex;
    justify-content: baseline;
    align-items: center;
    font-weight: 900;
    font-size:20px;
    cursor: pointer;
}

.setmypage>i{
    margin:0px 30px 0px 15px;
}


.mypage>i{
    margin-right:10px;
}

.search{
    height:10%;
    cursor: pointer;
}

.find, .setting, .pjset, .rolemanage, .membermanage, .chatset, .cash, .workspacemanage{
    height:50%;
    display:flex;
    padding-left:30px;
    justify-content: baseline;
    align-items: center;
}

.find>i , .setting>i, .pjset>i, .rolemanage>i, .membermanage>i, .chatset>i, .cash>i, .workspacemanage>i{
    margin-right:15px;
}

.find:hover, .setting:hover, 
.facechat:hover, .chat:hover, .reload:hover, 
.pjset:hover, .rolemanage:hover, .membermanage:hover, .chatset:hover, .cash:hover, .workspacemanage:hover{
    background:#ffffff15;
}

/* nav워크스페이스------------------------------------------ */
.worktit{
    height:7%;
    color:#aaa;
    display:flex;
    justify-content: baseline;
    align-items: flex-end;
    padding:0px 0px 10px 20px;
}

.workspace{
    height:71%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
}

.workspace::-webkit-scrollbar {
    width: 6px;
}
.workspace::-webkit-scrollbar-thumb {
    background-color: #000000;
}
.workspace::-webkit-scrollbar-track {
    background-color: grey;
}

/* 메모폴더 */

.folder{
    color: #ffffff;
    list-style:none;
    margin:5px;
}

.cate1{
    padding:10px 10px 10px 30px;
    width:100%;
    cursor: pointer;
    list-style: none;
}

.cate1:hover, .folder>li:hover{
    background-color: #ffffff15;
}

.cate1>i{
    margin-right:15px;
}

.folder>li{
    padding:10px 10px 10px 50px;
    cursor: pointer;
}


/* 화상회의 폴더 */

.video{
    list-style:none;
}

.cate2{
    padding:10px 10px 10px 30px;
    width:100%;
    cursor: pointer;
}

.cate2:hover, .video>li:hover{
    background-color: #ffffff15;
}

.cate2>i{
    margin-right:15px;
}

.video>li{
    padding:10px 10px 10px 50px;
    cursor: pointer;
}

.on{
    color:#28a745;
    float:left;
    margin-right: 5px;
}

.off{
    color:#aaa;
    float:left;
    margin-right: 5px;
}

/* 워크스페이스 아래 영역 */

.private{
    height:12%;
    display:flex;
    flex-direction: column;
    padding:10px 0px 10px 0px;
    justify-content: end;
}


.facechat, .chat, .reload, .addwrap{
    height:50px;
    display:flex;
    padding-left:30px;
    justify-content: baseline;
    align-items: center; 
    cursor: pointer;
}

.facechat>i, .chat>i, .reload>i, .addwrap>i{
    margin-right:15px;
}



section::-webkit-scrollbar {
    width: 6px;
}
section::-webkit-scrollbar-thumb {
    background-color: #000000;
}
section::-webkit-scrollbar-track {
    background-color: grey;
}


/* aside----------------------------------------- */
aside {
    height: 100%;
    width: 200px;
    flex-shrink: 0;
    background: rgb(19, 23, 34);
            background: linear-gradient(0deg, rgba(19, 23, 34, 1) 0%, rgba(26, 17, 47, 1) 22%, rgba(26, 30, 41, 1) 83%, rgba(19, 23, 34, 1) 100%);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.teams1{
    height:100%;
}

.teamstit{
    height:7%;
    display:flex;
    align-items: center;
    justify-content: center;
    color : #ffffff;
}

#onoff{
    height:80%;
    overflow-y: auto;
    overflow-x:hidden;
}

.onlinetit{
    height:5%;
    display:flex;
    align-items: flex-end;
    justify-content: baseline;
    color : #aaa;
    padding: 0px 0px 0px 20px;
}

.online{
    height:auto;
    padding:7px;
}

.offlinetit{
    height:5%;
    display:flex;
    align-items: flex-end;
    justify-content: baseline;
    color : #aaa;
    padding: 0px 0px 0px 20px;
}

.offline{
    height:auto;
    padding:7px;
}


#onoff::-webkit-scrollbar {
    width: 6px;
}
#onoff::-webkit-scrollbar-thumb {
    background-color: #000000;
}
#onoff::-webkit-scrollbar-track {
    background-color: grey;
}

#sortable>.member{
    color:white;
}

#sortable2>.member{
    color:#888;
}

#onoff>.online>#sortable> li:hover{
    background-color: #ffffff15;
    
}

#onoff>.offline>#sortable2> li:hover{
    background-color: #ffffff15;
    color:#ffffff;
}

.online>#sortable>.member:hover{
    background-color: transparent;
}

#sortable> .member , #sortable2>.member {
    height:30px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
}

.member>.fas{
    font-size: 25px;
    margin-right:15px;
}