<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kh.spring.memo.model.repository.MemoRepository">
  	 
  	 <insert id="insertMemo" >
  	 
  	 <selectKey keyProperty="memoIdx" resultType="string" order="BEFORE">
			select sc_proz_idx.nextval from dual
		</selectKey>
  	 
		insert into memo(memo_idx , ws_idx , pm_idx , content , bg_color)
		values(#{memoIdx} , #{wsIdx} , #{pmIdx} , #{content} , #{bgColor})
		
		
		
  	 </insert>
  	
  	
  	
  </mapper>
  
  
  