<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kh.spring.project.model.repository.ProjectRepository">
  	 
  	<select id="selectProjectMemberRoleByProjectIdx" resultType="map">
	  	select project_idx , pm_idx , user_idx , nickname , is_ok , auth_name from project_Member member
		join project_role role
		using(project_idx)
		where project_idx = #{projectIdx}
		order by role.reg_date , member.reg_date
  	</select>

  	
  	
  </mapper>
  
  
  