html,
        body {

            width: 100%;
            height: 100%;
            min-width: 1000px;

            color: white;
        }

        .wrap {
            height: 100%;
            display: flex;
            flex-direction: column;
            
            background: rgb(40, 146, 186);
            background: linear-gradient(128deg, rgba(40, 146, 186, 1) 0%, rgba(120, 118, 177, 1) 33%, rgba(196, 93, 161, 1) 68%, rgba(200, 129, 94, 1) 100%);
            overflow: hidden;
            position: relative;
        }

        header {
            height: 60px;
            background: transparent;

        }

        .con {

            height: 100%;
            display: flex;
            justify-content: space-between;
    
        }


        section {

            height: 100%;
            width: 100%;
            overflow: hidden;
            display: flex;

            justify-content: center;
            align-items: center;
            position: relative;

        }

/*가운데 박스*/
        .login-wrap {
            
            border-radius: 10px;
            height: 580px;
            width: 960px;
            background: RGB(22, 26, 37);
            display: flex;
            min-height: 540px;
            min-width: 960px;
            position: relative;
            box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.4)

        }


        .login-box {

            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

        }

        
        .login-box {

            height: 580px;
            width: 480px;
            
            border-radius: 10px;
            background: RGB(22, 26, 37);
            box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.4)

        }


        #login-logo {
            position: absolute;
            top: 10px;
            left: 0px;
            width: 150px;

        }

        .login-content {
            display: flex;
            flex-direction: column;
            width: 350px;
            height: 400px;

        }

        #sign-title {

            text-align: center;
            font-weight: 900;
            font-size: 30px;
            margin-bottom: 20px;
        }

        #sign-text {
            text-align: center;
        }

        #passwordCheck, #password {
            background-color: RGB(62, 66, 77);
            margin: 10px 0;
            border-color: RGB(255, 255, 255, 0.2);
            color: white;
            height: 48px;

        }


        



        .find-wrap {

            text-align: center;
        }

        .find-wrap > a {
            margin : 0 10px;
            text-decoration: none;
            color: white;
        }
        
     
        #progress-btn {
            margin: 10px 0;
        
            background: rgb(117,55,181);
            background: linear-gradient(128deg, rgba(117,55,181,1) 0%, rgba(190,68,172,1) 100%);
            font-weight: 100;
            margin-top: 23%;     
        }
        
        
        .wave {
            height: 580px;
            overflow: hidden;

        }

        .design-box1 {

            position: absolute;
            width: 500px;
            height: 650px;
            transform: rotate(-30deg);
            background: rgba(0,0,0, 0.1);
            top:50px;
            right: -320px;
            border-radius: 2px;
            overflow: hidden;
     

        }
        
        

        .design-box2 {

            position: absolute;
            width: 500px;
            height: 500px;
            transform: rotate(-30deg);
            background: rgba(255,255,255, 0.1);
            top:-200px;
            left: -300px;
            border-radius: 2px;
            overflow: hidden;
     

        }
        
        

        .design-box3 {

            position: absolute;
            width: 500px;
            height: 500px;
            transform: rotate(-30deg);
            background: rgba(255, 255, 255, 0.1);
            top: 900px;
            left: 200px;
            border-radius: 2px;
            overflow: hidden;

     

        }