        html,body {

            width: 100%;
            height: 100%;
            min-width: 1000px;

        }
        .wrap {
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: hidden;
        }
        header {
            height: 60px;
            background: rgb(143, 122, 229);
            background: radial-gradient(circle, rgba(143, 122, 229, 1) 0%, rgba(241, 112, 170, 1) 100%);
            flex-shrink: 0;
        }
        .con {
            height: 100%;
            display: flex;
            justify-content: space-between;
        }
        nav {
            background: rgb(19, 23, 34);
            background: linear-gradient(0deg, rgba(19, 23, 34, 1) 0%, rgba(26, 17, 47, 1) 22%, rgba(26, 30, 41, 1) 83%, rgba(19, 23, 34, 1) 100%);
            width: 220px;
            height: 100%;
            flex-shrink: 0;
        }
        section {
            height: 100%;
            width: 100%;
            overflow-y: auto;
            min-width: 800px;
            background: RGB(245, 246, 247);
        }
        aside {
            background: rgb(19, 23, 34);
            background: linear-gradient(0deg, rgba(19, 23, 34, 1) 0%, rgba(26, 17, 47, 1) 22%, rgba(26, 30, 41, 1) 83%, rgba(19, 23, 34, 1) 100%);
            height: 100%;
            width: 200px;
            flex-shrink: 0;
        }
        #login-btn {
            width: 200px;
            height: 100px;
        }
        /* MYPAGE 고유 CSS */
        .section-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            min-height: 100%;
        }
            #profileImg-wrapper{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }   
            .content-wrapper{
                width: 80%;
                min-height: 300px;
            }
                    
                /*  공통 Content_FontSize */
                .profile-title{
                    margin-top: 36px;
                    margin-bottom: 36px;
                    font-size: 36px;
                    font-weight: bolder;
                }
                .profile-subtitle{
                    margin-top: 24px;
                    margin-bottom: 10px;
                    font-size: 25px;
                    font-weight: bolder;
                }
                .profile-message{
                    width: 100%;
                    font-size: 16px;
                }
                .proflie-advice{
                    font-size: 16px;
                    color: slategray;
                }
                .extend-link{
                    font-size: 16px;
                }
            
                    /* 첫번째 ContentDiv, 프로필 이미지 */
                    #profile-banner-btn{
                        width: 130%;
                        height: 150px;
                        border:0px;
                        background-color: lightgray;
                    }
                    #profile-img{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        bottom: 70PX;
                        width: 150px;
                        height: 150px; 
                        border-radius: 70%;
                        border: 0px;
                        overflow: hidden;
                    }
                    .profileImg {
                        width: 120%;
                        height: 120%;
                        object-fit: cover;
                    }
                    
                    /* 두 번째 ContentDiv, 계정 정보  */
                    .info-wrapper{
                        display: flex;
                        align-items: center;
                    }

                    /* 네번째 ContentDiv, 친구 관리 */
                    .friend-wrapper{
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                    }
                    .friend-code-wrapper{
                        display: flex;
                        align-items: center;
                    }
                    #input-friend-code{
                        width: 270px;
                    }

                    /* 다섯번째 ContentDiv, 회원 탈퇴 */
                    .leave-wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .leave-img{
                        width: 80%;
                    }
                    #button-isleave{
                        font-size: 16px;
                    }

                    /* br 라인 */
                    .br-line{
                        height: 50px;
                        border-bottom: 1px solid lightgray;
                    }
                    /* btn버튼 일괄 Margin, 길이 적용 */
                    .btn-secondary {
                        margin-left: 20px;  
                        font-size: 12px;
                    }
                    .profile-message-btn-wrapper{
                        display: flex;
                        justify-content: space-between;
                    }

                    .profile-message-git{
                        display: flex;
                        flex-direction: column;
                        max-height: 85%;
                        
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                    }
                    
                    /* 버튼 크기 및 색 조정 조정 */
                    .btn-primary {
                        /* margin 있음  */
                        margin-top: 20px;
                        width: 150px;
                    }
                    .form-control{
                        color: rgb(163, 163, 163);
                        margin-top: 20px;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                    }
                    #form-git{
                        margin-right: 10px;
                    }
                    #profile-email{
                        padding-top: 10px;
                        font-size: 17px;

                    }
                    #button-isleave{
                        margin-left: 0px;
                        width: 150px;
                    }
                    /* Validator 적용을 위한 bootstrap input-form 설정 조정
                    /* 2. 아래쪽 div 여백주기 */
                    .input-wrapper > div{
                        margin-top: 10px;
                        display: none;
                    }
                    .form-control{
                        border: 2px solid #ced4da;
                    }
                        .form-control:focus{
                            box-shadow:none;
                            border-color: #ced4da;
                        }
                    #modal-btn-confirm{
                        margin-top: 0px;
                    } 
                    
                    #profile-change-git-btn{
                    	width: 200px; 
                    }
                    